<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RECOMMENDED CITY</title>
</head>
<body>
    <h2 style="color:darkblue ;"> 
        Recommendations For The Chosen City
    </h2>
    <hr style="color:darkblue ;">
    <div>
        <input type="hidden" name="name" data-th-value="${name}"> 

        <button class="btn btn-info" onclick="window.location.href='/home.html'">Back</button>
    </div>
 <br>
            <div data-th-each="c :${cities}" data-th-limit="5" data-th-object="${c}">
                <h1 data-th-text="*{name}"></h1>
                <br>
            <article data-th-each="r : *{recommendations}" data-th-limit="5" data-th-object="${r}">
                <h4 data-th-text="*{name}"></h4>
                <p data-th-text="*{description}"></p>
                <h5 data-th-text="*{currencyCode}"></span></h5>
                <div>
                   <em>Booking Link Click <a data-th-href="*{bookingLink}" target="_blank"><strong>Here</strong></a></em> 
                </div>
                <div>
                    <img data-th-src="*{pictures}" width="250px">
                </div>
            </article>

            <!--<button data-th-each="itin: ${itinerary}" th:href="@{/planner/update/{id}(id=${itin.id})}" class="btn btn-warning">Go to Planner Home Page</button>
            <span data-th-text="${r.amount}"> -->
        </div>
        <button onclick="window.location.href='/toplanner'" class="btn btn-warning">Go to Planner Home Page</button>
</body>
</html>